<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    tools:context=".MainActivity" >

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="246dp"
        android:orientation="horizontal"/>

    <Button
        android:id="@+id/button2"
        android:layout_width="300dp"
        android:layout_height="wrap_content"
        android:layout_margin="10dp"
        android:background="#6699ff"
        android:text="GET NOTIFY"
        android:layout_gravity="center"
        android:textColor="@color/white"
        android:textSize="20sp"
        app:backgroundTint="#6699ff"
        tools:visibility="visible" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="42dp"
        android:orientation="horizontal"></LinearLayout>

    <Button
        android:id="@+id/button3"
        android:layout_width="300dp"
        android:layout_height="wrap_content"
        android:layout_margin="10dp"
        android:background="#6699ff"
        android:text="SHARE APP"
        android:layout_gravity="center"
        android:textColor="@color/white"
        android:textSize="20sp"
        app:backgroundTint="#6699ff" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:orientation="horizontal"></LinearLayout>

    <Button
        android:id="@+id/button"
        android:layout_width="300dp"
        android:layout_height="wrap_content"
        android:layout_margin="10dp"
        android:background="#6699ff"
        android:text="RATE US"
        android:layout_gravity="center"
        android:textColor="@color/white"
        android:textSize="20sp"
        app:backgroundTint="#6699ff" />

</LinearLayout>